:root {
    --light-color: #e8e8f2; /* Light Background */
    --dark-blue: #3b3b97;
}

.footer {
    background-color: var(--light-color);
    border-top: 5px solid var(--dark-blue);
    padding-top: 25px;
    padding-left: 10rem;
    text-align: left;
    min-height: 15vh;
}