:root {
    --green-color: #006736; /* Green */
    --green-color-hover: #218838; /* Darker Green */
    --light-color: #e8e8f2; /* Light Background */
    --dark-color: #343a40; /* Dark Text */
    --dark-blue: #3b3b97;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.success {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
    background-color: var(--green-color);
    color: var(--light-color);
}

.m-bottom {
    margin-bottom: 20px;
}